* {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
  -ms-zoom:90%;
}

body {
  
  display: flex; /* establish flex container */
  justify-content: center; /* center flex items horizontally, in this case */
  align-items: center; /* center flex items vertically, in this case */  
  margin: 0;
  padding: 0;
  font-family: 'Inter-Loom', sans-serif !important;
  font-weight: 700 !important; 
  padding-top: 50px;
  font-size: 18px;
  background-color: #181a1b;
  
  overflow: hidden;
  background-repeat: repeat;
  background-size: 400px auto;  

}

.help{
  /*position: absolute;*/
  top: 10vh;
  color: white;
  border-radius: 100px;
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #a9a9a92e;
}

.home{
    max-height: 80vh;
    position: absolute;
    text-align: left;
    top: 40vh;
    width: 75%;
    vertical-align: middle;
    text-align: center;
    padding-bottom: 15px;
    font-size: 24px;
    font-family: 'Roboto';
    color:rgb(178, 171, 161);
}
.explanation{
  
  font-size: 22px;
  width: 90%;
  text-align: center;
  height: 80%;
  
  vertical-align: middle;
  text-align: center;
  padding-bottom: 15px;
  font-size: 24px;
  font-family: 'Roboto';
  color:rgb(178, 171, 161);

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
.goback{
  color: #4bff006e;
  font-size: 20px !important;
}
.explanation-container{
  overflow-y: scroll;
  height: 75vh;
  position: relative;
  width: 100%;
}
@media (max-width: 1500px){
  .explanation{
    font-size: 16.5px;
  }
}
@media (max-width: 1200px){
  .explanation{
    font-size: 16.5px;
  }
}
@media (max-width: 1000px){
  body{
    overflow-y:visible;
  }
  .explanation{
    
    font-size: 12px;
    text-align: left;
  }
}
/*BUTTON*/


.hbutton {
    -webkit-appearance: none;
    background: #4bff006e;
    backdrop-filter: blur(5px);
    color: #0aff1c;
    background-size: 500%;
    border: none;
    border-radius: 5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-family: monospace;
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 4rem;
    letter-spacing: 0.05em;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 20rem;
}
}

.hbutton:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: 1s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  box-shadow: 1rem 1rem 1rem black;
  transform: scale(0.1);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}

/*BUTTON*/



.disclaimer{
  position: absolute;
  text-align: left;
  top:-90px;
  text-align: center;
  width: 100%;
  padding-bottom: 15px;
  
  font-size: 15px;
  
  font-size: 20px;
  font-family: 'Roboto',sans-serif !important;
  font-weight: 700;
  color: #7B7B7B;
}

:root{
  --mheight:150px;/*var(--mheight)*/
  --mwidth:300px;/*var(--mwidth)*/
  --lwidth:calc(var(--mwidth)*2);
  --hheight:calc(var(--mheight)/2);
  --hwidth:calc(var(--mwidth)/2);
}

.mail-box {
  /*margin-left:35px;*/
  display:block;
  /*background-color:gray;*/
  color:white;
  border: none;
  outline:none;  
  border:transparent;
  background-color: transparent;
  position: fixed;
  top: 55%;

  width: var(--lwidth);
  height: var(--mheight);

  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}.mail-box button{
  background-color: transparent;
}

.matter {
  border-radius: 15px;
  position: absolute;
  width: var(--lwidth);
  height: var(--mwidth);
  transition: .5s;
}
.matter .main-hyp {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: var(--mwidth) var(--mwidth) var(--mheight);
  border-radius: 15px;
  border-color: transparent transparent #db4a4a transparent;
  z-index: 2;
}
.matter .top-fold {
  border-radius: 15px;
  position: absolute;
  /*top: 50px;*/
  width: 0;
  height: 0;
  border-style: solid;
  border-width: var(--mheight) var(--mwidth) 0 var(--mwidth);
  transform-origin: 50% 2%;
  transition: transform .4s .4s, z-index .2s .4s;
  border-color: #dc373f transparent transparent transparent;
  z-index: 2;
}
.matter .back-fold {
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  width: var(--lwidth);
  height: var(--mwidth);
  background: #c9323a;
  z-index: 0;
}
.matter .left-fold {
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: var(--mheight) 0 var(--mheight) var(--mwidth);
  border-color: transparent transparent transparent #e1494c;
  z-index: 2;
}
.matter .right-fold {
  transform: scaleX(-1);
  right: 0;
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: var(--mheight) 0 var(--mheight) var(--mwidth);
  border-color: transparent transparent transparent #d43b3e;
  z-index: 2;
}

.matter .letter {
  border-radius: 5px;
  left: calc(var(--lwidth) / 20);
  bottom: 0px;
  position: absolute;
  width:calc(var(--lwidth) * 0.9);
  
  color: #2B2B2B !important;

  height: calc(var(--hheight));
  background: white;
  z-index: 1;
  overflow: hidden;
  transition: .4s .2s;
  text-align: center;
  font-family: monospace;
  border: 2px dotted black;
}
.matter .letter p {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 15px;
}
.matter .letter h1 {
  font-size: 3em;
  margin-bottom: 15px;
}
.matter .letter h3 {
  font-size: 1em;
  color: #2B2B2B;
}
.matter .letter .block1 {
  position: absolute;
  width: var(--mheight);
  height: 16px;
  background: #e15349;
  bottom: 55%;
  left: 15%;
}
.matter .letter .block2 {
  position: absolute;
  width: 100px;
  height: 16px;
  background: #e15349;
  bottom: 50%;
  left: 15%;
}
/*.matter .letter .stamp {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  left: 65%;
  bottom: 40%;
  font-size: 3.6em;
  align-items: center;
  vertical-align: middle;
  font-weight: 900;
  border: 4px solid lightgray;
}*/
.matter .letter .letter-border {
  height: 20px;
  width: 100%;
  background: repeating-linear-gradient(-45deg, #cb5a5e, #cb5a5e 8px, transparent 8px, transparent 18px);
}

.mail-box:hover .matter {
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
}
.mail-box:hover .matter .top-fold {
  transition: transform .4s, z-index .2s;
  transform: rotateX(180deg);
  -webkit-transition: transform .4s, z-index .2s;
  -webkit-transform: rotateX(180deg);
  -moz-transition: transform .4s, z-index .2s;
  -moz-transform: rotateX(180deg);
  z-index: 0;
}
.mail-box:hover .matter .letter {
  height: 500px;
}
.mail-box:hover .shadow {
  width: var(--lwidth);
}

.card {
  position: relative;
  width: 240px;
  height: 180px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 12px 48px -8px rgba(0,0,0,0.1);
}
.card .hint {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 32px;
  height: 32px;
  background: #000;
  border-radius: 16px;
  transition: all 0.2s ease;
}
.card .hint .icon-info {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
  pointer-events: auto;
}
.card .hint .icon-info:before,
.card .hint .icon-info:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 12px;
  background: #fff;
  border-radius: 2px;
  transform-origin: center center;
  transition: all 0.25s ease;
}
.card .hint .icon-info:before {
  transform: translate(15px, 6px) rotate(0) scale(1, 0.2);
}
.card .hint .icon-info:after {
  transform: translate(15px, 12px) rotate(0) scale(1, 0.5);
}
.card .hint.show {
  width: calc(100% + 24px);
  height: calc(100% + 24px);
}
.card .hint.show .icon-info:before {
  transform: translate(15px, 10px) rotate(-45deg);
}
.card .hint.show .icon-info:after {
  transform: translate(15px, 10px) rotate(45deg);
}

.titles{
  width: 90%;

  font-family: monospace;
  z-index: 100;
  position: absolute;
  color:rgb(205, 200, 194);
  text-align:center;
  font-size: 40px;
  padding-top: 30vh;
  
}
.titles a{
  color:rgb(205, 200, 194) !important;
  text-decoration: none !important;
}
@media (max-width: 900px){
    .home{
      font-size: 20px !important;
    }

}
@media (max-width: 600px) {
  
  .titles{
    text-align:left;
    font-size: 34px;
    padding-left: 10px;
    
  }
  .mail-box{
    padding-top: 0%1
    width 90%;
    top: 65%;
  }
  .disclaimer{
    position: relative;
    text-align: left;
    top: 0;
    
    width: 100%;
    
    
    font-size: 13px;
  }
   .home{
    width: 90%;
    font-size: 23px !important;
  }
}
@media (max-width: 561px) {
  .hbutton{
    height: 2.5rem;
    width: 12rem;
    font-size: 20px;
  }
  :root{
    --mwidth:160px;
    --mheight:60px;
  }
  
  .titles{
    /*width: 80%;*/
    
    text-align:left;
    font-size: 25px;
    padding-left: -20px;
    padding-top: 200px;
    
  }
  .ball{
    margin: 150px auto 0 !important;
    font-size:40px !important;
  }
  .mail-box{
    padding-top: 0%;
  }
  .overlay{
    width: 50%;
    font-size: 13px !important;
  }
  .disclaimer{
    position: relative;
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    
    padding-right: 100px;
    font-size: 10px;
  }
  .home{
    top: 42vh;
    font-size: 14px !important;
  }
}
@media (max-width: 321px){
 .home{
    top: 42vh;
    font-size: 12px !important;
  }
  .titles{
    padding-top: 170px;
    padding-left: 0;
    font-size: 20px;
  }
}
@media (max-width: 290px) {
  
  .titles{
    
    text-align:left;
    font-size: 28px;
    padding-left: 10px;
    padding-top: 280px;
    
  }
  .mail-box{
    padding-top: 35%;
  }
  .disclaimer{
    position: relative;
    text-align: left;
    top: 0;
    left: 10px;
    width: 36%;
    padding-left: 120px;
    padding-right: 100px;
    font-size: 10px;
  }
}
.ball {
  bottom: calc(var(--mheight) + (var(--mheight))/2);

  font-size: 50px;
  transform: translate(-50%,50%);
  border-radius: 50%;
  margin: 200px auto 0;
  animation: ball 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
  animation-delay: 0;
  z-index: 10;
  position: relative;
}

.overlay {
  padding: 15px;
  bottom: 50px;
  border-radius: 15px;
  font-size: 28px;
  left: 0; 
  text-align: center;
  left: 50%;
  transform: translate(-50%,50%);
  width: 70%;
  font-family: monospace;
  
  margin: 200px auto 0;
  color: white;
  background-color: #0000004f;
  z-index: 10;
  position: fixed;
  display: inline;
  backdrop-filter:blur(5px) ;

}
.counter{
  background-color: #00ff2042;
  color: #26ff2f;
  font-family: monospace;
  font-weight: 600;
  border-radius: 9px;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 20px;
  
  display: inline;
}

@keyframes ball {
  0%{transform: translateY(0px);}
  100% {transform: translateY(-90px);}
}
/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
.success-checkmark {
  background-color: transparent;
  width: 80px;
  position: absolute;
  height: 115px;
  top: 70%;
  margin: 0 auto;
}
.success-checkmark .check-icon {
  background-color: transparent;
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #3b883e;
}
.success-checkmark .check-icon::before {
  background-color: transparent;
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
  content: '';
  height: 100px;
  position: absolute;
  background: transparent;
  transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #4CAF50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid #0ad13f;
}
.success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: transparent;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
footer a{
  color: #868686;
  top:0;
  z-index: 200;
  width: 100%;
  left: 0;
  left: 50%;
  text-align: center;
  position:fixed;
  left: 0;
  font-size: 10px;
}
input[type="button"]
{
    width:120px;
    height:60px;
    margin-left:35px;
    display:block;
    background-color:gray;
    color:white;
    border: none;
    outline:none;
}